<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <form th:action="@{/aws/users/{id}/upload(id=1)}" th:method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="avatar">Content</label>
            <input type="file" accept=".jpg,.png,.jpeg" name="file"  class="form-control" id="avatar" >
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>


</body>
</html>