<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head(title)">
    <meta charset="UTF-8">
    <title>ChowNow: <th:block th:text="${title}"></th:block></title>
    <!-- Spoon Api -->
    <meta class="spoonApi" th:content="${spoonApi}">
    <!-- MDB -->
    <link href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.0.0/mdb.min.css" integrity="sha512-3IezTrk95L3ES54Xc2nOLQkzSyr0/Mkd4DRJxDQXNYuQupAfxHgR4CsflMVlqjelwlMaB6q5ODM5ppJZimS7dw==" crossorigin="anonymous" />
</head>
<body>

</body>
</html>