<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Scripts</title>
</head>
<body>
<div th:fragment="scripts">
    <!-- MDB -->
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.0.0/mdb.min.js" integrity="sha512-j8XccWZ0cdadrXNufXQDmic9TmvsvUhI/LAeOzu5UnWwsMCsv0VMq3I2qj+HYeFX+3Fv+Z9c+PFYNacSOPlMBw==" crossorigin="anonymous"></script>
</div>

</body>
</html>
