<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">>
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
</head>
<body>
<!--Todo: Broke it, Make work -->
<section class="content" th:fragment="searchbar">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8 offset-md-2 my-3">
        <form action="#" th:action="@{/users/search}" method="post">
        <div class="input-group">
            <input type="search" class="form-control form-control-lg" placeholder="Who are you looking for?">
            <div class="input-group-append">
              <button type="submit" class="btn btn-lg btn-default">
                <i class="fa fa-search"></i>
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
</div>
</body>
</html>
