<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head('Create a Recipe')">

    <meta charset="UTF-8">
    <title>Create Recipe</title>
</head>

<body>
<!--<nav th:replace="partials/navbar :: nav"></nav>-->
<form action="/recipes/addcategories" method="post">

    <p>Add categories to help others find you recipes</p>
    <div id="categories"></div>

    <input type="submit">
</form>


<th:block th:include="partials/scripts :: scripts"></th:block>
<script>

    $.ajax("/api/categories").done(function(data){
        for (let i = 0; i < data.length; i++) {
            console.log(data[i].id, data[i].name)
            $('#categories').append(
                "<input type='checkbox' id='" + data[i].name + "' name='" + data[i].name + "' value='" + data[i].id +
                "'>" + "<label for='" + data[i].name + "'>" + data[i].name + "</label><br>"
            )

        }

    })



</script>




</body>
</html>