<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head('Create a Recipe')">

    <meta charset="UTF-8">
    <title>Create Recipe</title>
</head>

<body>
<!--<nav th:replace="partials/navbar :: nav"></nav>-->
<form action="/recipes/addingredients" method="post">

    <p>Add some ingredients to your recipe</p>

    <input type="submit">
</form>


<th:block th:include="partials/scripts :: scripts"></th:block>
<script>

    $.ajax("/api/recipe-ingredients").done(function(data){
        console.log(data);
    })


</script>




</body>
</html>