<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="partials/head :: head('Results')">
    <meta charset="UTF-8">
    <title>Results</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Dashboard</title>
    <link th:href="@{/img/favicon.png}" rel="shortcut icon" type="image/x-icon">
    <link href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <!--  CUSTOM CSS -->
    <link rel="stylesheet" th:href="@{/css/recipe.css}">
</head>
<body style="background-color: #03b090">
<header>
    <nav th:replace="partials/navbar.html :: nav"></nav>
</header>
<div class="form-outline">
    <form class="w-50 my-5 mx-auto d-flex" th:action="@{/recipes}" method="get">
        <input type="text" class="form-control rounded-pill px-3" id="main_search"
               placeholder="Enter ingredients ex. tomato, lettuce, apple" name="term" th:value="${term}">
        <button type="submit" id="recipePublish"
                class="btn btn-red rounded-pill nav-link shadow-sm px-3 ml-2">
            Search
        </button>
    </form>
</div>

<!-- Results Toggle -->
<div class="container">
    <ul class="row d-flex justify-content-center align-items-center btn-group-sm btn-group-toggle" data-toggle="buttons">
        <li class="btn btn-yellow btn-sm active mx-2" type="button" id="communityDBTab">
            <a class="nav-link resultsTab nav-tab-shadow text-center" href="" data-toggle="tab">
                <p class="text-black-50 mb-0">Community</p>
            </a>
        </li>
        <li class="btn btn-yellow btn-sm mx-2" type="button" id="recipeApiTab">
            <a class="nav-link resultsTab nav-tab-shadow text-center" href="" data-toggle="tab">
                <p class="text-black-50 mb-0">Spoonacular</p>
            </a>
        </li>
    </ul>
</div>


    <!-- Error Alert-->
<!--    <span th:if= "${message != null}" th:text="${message}"></span>-->


    <!-- Display all recipes from DB -->
    <div class="container" id="recipesDB">
        <div class="all-recipes my-2 row row-cols-1 row-cols-md-3 g-5">
        <div class="my-2" th:each="recipe : ${recipeResultsDB}">
            <div class="col my-2">
                <div class="card shadow my-2">
                    <img class="card-img-top" th:if= "${recipe.getImages().size() >= 1}" th:src="${recipe.getImages()[0].getUrl()}" alt="unavailable"/>
                    <h4 class="card-title m-2 truncate"><span th:text="${recipe.title}"></span></h4>
                    <div class="d-flex justify-content-start align-items-center">
                        <div class="btn-sm btn-yellow rounded-pill m-2"><span th:text="${recipe.difficulty}"></span></div>
                    </div>
                    <div class="card-body">
                        <div class="row align-items-baseline">
                            <div class="col-2">
                                <a th:href="@{/users/{id}(id=${recipe.chef.id})}">
                                    <img th:src="${recipe.chef.avatar}" class="rounded-circle" style="width: 40px;height: 40px">
                                </a>
                            </div>
                            <div class="col-6">
                                <p th:text="${recipe.chef.firstName}"></p>
                            </div>
                            <div class="col-3">
                                <div class="rounded-pill border text-center" style="width: 75px">
                                    <i class="far fa-heart"></i> <span th:text="${recipe.favoritedBy.size()}"></span>
                                </div>
                            </div>
                        </div>
                        <div class="mb-2" style="height:100px; display: -webkit-box; max-width: 300px; -webkit-line-clamp: 2; -webkit-box-orient: vertical; overflow: hidden;">
                            <p style="line-height: 20px;"><span th:text="${recipe.description}"></span></p>
                        </div>

                        <a th:href="@{/recipes/{id}(id=${ recipe.id })}" class="btn btn-red text-center rounded-pill nav-link shadow px-2 viewDBRecipe">More info</a>

                    </div>
                </div>
            </div>
        </div>
    </div>

<!-- // Results from SpoonAPI-->
<!--- Modal to display recipe information --->
<div class="container d-none" id="recipeSpoonApi">
    <div class="recipes1 my-2 row row-cols-1 row-cols-md-3 g-5"></div>
        <div class="modal fade" id="viewRecipeModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <form th:action="@{/recipes}" th:object="${recipe}" method="post">
                    <div class="modal-content">
                        <div class="modal-header text-center">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span>&times;</span></button>
                        </div>

                        <!-- Display header -->
                        <div class="recipe-title-header container"></div>
                        <!-- Display Image -->
                        <div class="recipe-image mx-auto mt-1"></div>

                        <div class="modal-body">
                            <div class="container">
                                <!-- Display summary -->
                                <div class="container">
                                    <div class="w-100 btn btn-green rounded-pill mb-2">Summary</div>
                                    <div class="recipe-summary"></div>
                                    <div class="recipe-prep"></div>
                                </div>

                                <!-- Display current servings -->
                                <div class="container my-1">
                                    <h4>Servings</h4>
                                    <div class="recipe-servings"></div>
                                </div>
                                <!-- Display Ingredients -->
                                <div class="container">
                                    <div class="w-100 btn btn-green rounded-pill mb-2">Ingredients List</div>
                                    <div class="container">
                                        <ul class="recipe-ingredients"></ul>
                                    </div>
                                </div>

                                <!-- Display Categories by cuisines: im planning to change this into pills for future -->
                                <div class="container">
                                    <h4>Categories</h4>
                                    <div class="container">
                                        <ul class="recipe-categories d-flex justify-content-start align-items-center"></ul>
                                    </div>
                                </div>
                                <!-- Display Instructions -->
                                    <div class="container">
                                        <div class="w-100 btn btn-green rounded-pill mb-2">Directions</div>
                                        <div class="container">
                                            <ol class="recipe-directions"></ol>
                                        </div>
                                    </div>
                            </div>
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-yellow" sec:authorize="isAuthenticated()">Add to favorites</button>
                        </div>
                    </div>

            <input type="hidden" id="hidden-spoonApi-id" th:name="spoonApiId" value=""/>
            <input type="hidden" id="hidden-recipe-title" th:name="title" value=""/>
            <input type="hidden" id="hidden-recipe-image" th:name="image" value=""/>
            <input type="hidden" id="hidden-recipe-prep" th:name="prep" value=""/>
            <input type="hidden" id="hidden-recipe-cook" th:name="cook" value=""/>
            <input type="hidden" id="hidden-recipe-servings" th:name="servings" value=""/>
            <input type="hidden" id="hidden-recipe-summary" th:name="summary" value=""/>
            <input type="hidden" id="hidden-recipe-categories" th:name="categories" value=""/>
            <input type="hidden" id="hidden-recipe-ingredients" th:name="ingredients" value=""/>
            <input type="hidden" id="hidden-recipe-directions" th:name="directions" value=""/>
        </form>
    </div>
</div>
</div>

<th:block th:include="partials/scripts :: scripts"></th:block>
<script th:inline="javascript">

    // In the head
    const spoonApi = document.querySelector('meta.spoonApi').content;

    if (document.getElementById('main_search') == null) {
        console.log("yo, it's null");
    } else {
        let searchString;
        let urlSearchString = window.location.href;
        let url = new URL(urlSearchString);
        let searchParam = url.searchParams.get("term");
        searchString = searchParam.replace(/,|,\s/g, ",+");
        //console.log("url string" + searchString);

        $.ajax({
            type: 'GET',
            url: `https://api.spoonacular.com/recipes/findByIngredients?ingredients=${searchString}&number=25&apiKey=${spoonApi}`,
            success: function (results) {
                let recipe = "";

                recipe += `<div class="col-md-12">
                                <h3 class="my-3 text-center"></h3>
                            </div>`;

                $('.recipes1').html(recipe);


                $.each(results, function (i, recipe) {
                    $.ajax({
                        type: 'GET',
                        url: `https://api.spoonacular.com/recipes/${recipe.id}/information?apiKey=${spoonApi}&includeNutrition=false`,
                        success: function (singleRecipe) {

                            $('.recipes1').append(
                                `<div class="col my-3">
                                    <div class="spoonResultsCard card shadow my-2">
                                        <img class="card-img-top" src=${singleRecipe.image} alt="unavailable"/>
                                        <h4 class="card-title m-2 truncate" style="font-weight: bold">${singleRecipe.title}</h4>
                                    <div class="card-body">
                                        <div>
                                            <h6 class="mb-3">${recipe.usedIngredientCount}/${recipe.usedIngredientCount + recipe.missedIngredientCount} ingredients</h6>
                                        </div>
                                    <div class="mb-2" style="height:100px; display: -webkit-box; max-width: 300px; -webkit-line-clamp: 1; -webkit-box-orient: vertical; overflow: hidden;">
                                        <p style="line-height: 20px;">${singleRecipe.summary}</p>
                                    </div>

                                    <button class="btn btn-red text-center rounded-pill nav-link shadow px-2 mt-3 btn-block viewRecipe" data-toggle="modal" data-target="#viewRecipeModal" id=${singleRecipe.id}>More info</button>
                                    </div>
                                    </div>
                                </div>`)


                            // Trigger Recipe Modal
                            $('.viewRecipe').unbind().click(function () {

                                $.ajax(`https://api.spoonacular.com/recipes/${this.id}/information?includeNutrition=false&apiKey=${spoonApi}`)
                                    .done(function (modalRecipe) {

                                        // Recipe Information
                                        let image = "";
                                        let summary = "";
                                        let title = "";
                                        let ingredients = "";
                                        let instructions = "";
                                        let category = "";
                                        let prepTime = "";
                                        let servings = "";
                                        let ingCook = "";

                                        let hiddenTitle = modalRecipe.title + ' by ' + modalRecipe.sourceName;
                                        let hiddenSpoonApiId = modalRecipe.id;
                                        let hiddenImage = modalRecipe.image;
                                        let hiddenPrepTime = modalRecipe.preparationMinutes;
                                        let hiddenCook = modalRecipe.cookingMinutes;
                                        let hiddenServings = modalRecipe.servings;
                                        let hiddenSummary = modalRecipe.summary;
                                        let hiddenCategories = "";
                                        let hiddenIngredients = "";
                                        let hiddenDirections = "";

                                        image += `<img class="img-fluid" src=${modalRecipe.image} alt="" />`;

                                        ingCook += `<div class="recipe-header mt-3">
                                                        <p class="text-center my-0">${modalRecipe.extendedIngredients.length} ingredients<span> &#183 </span> ${modalRecipe.readyInMinutes} min</p>
                                                    <h3 class="text-center mt-0 mb-3" id="exampleModalLabel">${modalRecipe.title}</h3> </div>`

                                        title += modalRecipe.title;

                                        prepTime += `<div class="container">
                                                        <div id="infoSection" class="row text-center mx-auto">
                                                            <div class="col-6">
                                                                <div class="card rounded-card" style="height: 7em;">
                                                                <div class="card-body">
                                                                    <h5  class="text-dark font-weight-bold">${modalRecipe.preparationMinutes} MINS</h5>
                                                                    <div class="smallFont" style="font-family: corsa" >prep time</div>
                                                                </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-6">
                                                                <div class="card rounded-card" style="height: 7em;">
                                                                <div class="card-body">
                                                                    <h5 class="text-dark font-weight-bold">${modalRecipe.cookingMinutes} MINS</h5>
                                                                    <div class="smallFont" style="font-family: corsa" >cook time</div>
                                                                </div>
                                                                </div>
                                                            </div>
                                                            </div>
                                                        </div>`;

                                        servings += `<p>${modalRecipe.servings} servings</p>`

                                        summary += `<p>${modalRecipe.summary}</p>`;

                                        // Categories List
                                        if (modalRecipe.cuisines.length == 0) {
                                            category += `<li class="">Unknown category</li>`;

                                            hiddenCategories = 'Unknown category';
                                        } else {
                                            for (let i = 0; i < modalRecipe.cuisines.length; i++) {
                                                category += `<li class="btn btn-yellow rounded-pill m-2 text-center">${modalRecipe.cuisines[i]}</li>`;

                                                hiddenCategories += modalRecipe.cuisines[i] + '##'
                                            }
                                        }

                                        // Ingredients List
                                        if (modalRecipe.extendedIngredients.length == 0) {
                                            ingredients += 'No ingredients recorded';
                                            hiddenIngredients = 'No ingredients recorded';
                                        } else {
                                            for (let i = 0; i < modalRecipe.extendedIngredients.length; i++) {
                                                ingredients += `<li class="ml-3">${modalRecipe.extendedIngredients[i].amount}
                                                                    ${modalRecipe.extendedIngredients[i].unit}
                                                                    ${modalRecipe.extendedIngredients[i].originalName}
                                                                </li>`;

                                                hiddenIngredients += modalRecipe.extendedIngredients[i].amount + '@@' + modalRecipe.extendedIngredients[i].unit + '@@' + modalRecipe.extendedIngredients[i].originalName + '##';
                                            }
                                        }

                                        // Grab Instructions
                                        if (modalRecipe.analyzedInstructions.length === 0) {
                                            instructions += '<p>' + 'Sorry, directions not available' + '</p>';
                                            instructions += '<p>' + 'You can find more information in the main' +
                                                '<a href="' + modalRecipe.sourceUrl + '">' + '<strong>' + " source." + '</strong>' + '</a>' + '</p>';

                                            hiddenDirections = 'Sorry, directions not available';
                                        } else {
                                            for (let i = 0; i < modalRecipe.analyzedInstructions[0].steps.length; i++) {
                                                instructions += `<li class="list-group">
                                                                    <p>${modalRecipe.analyzedInstructions[0].steps[i].number}.
                                                                        <span>${modalRecipe.analyzedInstructions[0].steps[i].step}</span>
                                                                    </p>
                                                                 </li>`;

                                                hiddenDirections += modalRecipe.analyzedInstructions[0].steps[i].number + ' ' + modalRecipe.analyzedInstructions[0].steps[i].step + '##'
                                            }
                                        }

                                        // Display to modal
                                        $('.recipe-title-header').html(ingCook);
                                        $('.recipe-title').html(title);
                                        $('.recipe-image').html(image);
                                        $('.recipe-prep').html(prepTime);
                                        $('.recipe-servings').html(servings);
                                        $('.recipe-summary').html(summary);
                                        $('.recipe-categories').html(category);
                                        $('.recipe-ingredients').html(ingredients);
                                        $('.recipe-directions').html(instructions);

                                        // Hidden Fields
                                        $('#hidden-spoonApi-id').val(hiddenSpoonApiId);
                                        $('#hidden-recipe-title').val(hiddenTitle);
                                        $('#hidden-recipe-image').val(hiddenImage);
                                        $('#hidden-recipe-prep').val(hiddenPrepTime);
                                        $('#hidden-recipe-cook').val(hiddenCook);
                                        $('#hidden-recipe-servings').val(hiddenServings);
                                        $('#hidden-recipe-summary').val(hiddenSummary);
                                        $('#hidden-recipe-categories').val(hiddenCategories);
                                        $('#hidden-recipe-ingredients').val(hiddenIngredients);
                                        $('#hidden-recipe-directions').val(hiddenDirections);
                                    })
                            })
                        },
                        complete: function () {
                            console.log("FINISHED");
                            $('.spinner-grow').hide();
                            $('.spinner-grow').addClass('d-none');
                            setTimeout(function() {
                                let spoonCard = document.getElementsByClassName('spoonResultsCard');
                                console.log(spoonCard.length);
                            }, 1000)
                        }
                    })
                })

            }
        })

        // button to show community results
        $("#communityDBTab").click(function () {
            if($("#recipesDB").hasClass("d-none")){
                $("#recipesDB").removeClass("d-none");
                $("#recipeSpoonApi").addClass("d-none");
            }
        });

        // button to show API results
        $("#recipeApiTab").click(function () {
            if($("#recipeSpoonApi").hasClass("d-none")){
                $("#recipesDB").addClass("d-none");
                $("#recipeSpoonApi").removeClass("d-none");
            }
        });

    }
</script>
<th:block th:include="partials/scripts :: scripts"></th:block>
<script th:src="@{/js/fraction_converter.js}"></script>
</body>
</html>
