<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="partials/head :: head('Results')">
    <meta charset="UTF-8">
    <title>Results</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!--    <meta name="_csrf" th:content="${_csrf.token}"/>-->
<!--    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>-->
    <title>Dashboard</title>
    <link th:href="@{/img/favicon.png}" rel="shortcut icon" type="image/x-icon">
    <link href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <!--  CUSTOM PROFILE CSS -->
    <link rel="stylesheet" th:href="@{/css/recipe.css}">
</head>
<body style="background-color: #03b090">
<header>
    <nav th:replace="partials/navbar.html :: nav"></nav>
</header>
<div class="form-outline">
    <form class="w-50 my-4 mx-auto" th:action="@{/recipes}" method="get">
        <input type="text" class="form-control" id="main_search"
               placeholder="Enter ingredients ex. tomato, lettuce, apple" name="term" th:value="${term}">
    </form>
<!--    <h1 th:text="${recipeResultsDB.size()}"></h1>-->
</div>

        <!-- Tab [Results] -->
<div class="container">
    <ul class="row d-flex justify-content-center align-items-center btn-group-sm btn-group-toggle" data-toggle="buttons">
        <li class="btn btn-yellow btn-sm active mx-2" type="button" id="communityDBTab">
            <a class="nav-link resultsTab nav-tab-shadow text-center" href="" data-toggle="tab">
                <p class="text-black-50 mb-0">Community</p>
            </a>
        </li>
        <li class="btn btn-yellow btn-sm mx-2" type="button" id="recipeApiTab">
            <a class="nav-link resultsTab nav-tab-shadow text-center" href="" data-toggle="tab">
                <p class="text-black-50 mb-0">Spoon</p>
            </a>
        </li>
    </ul>
</div>


    <!-- Error Alert-->
    <span th:if= "${message != null}" th:text="${message}"></span>


    <!-- Display all recipes from DB -->
    <div class="container" id="recipesDB">
        <div class="all-recipes my-2 row row-cols-1 row-cols-md-4 g-5">
        <div class="my-2" th:each="recipe : ${recipeResultsDB}">
            <div class="col my-2">
                <div class="card my-2 h-100">
                    <h5 class="card-title text-center"><span th:text="${recipe.title}"></span></h5>
                    <img class="card-img-top" th:if= "${recipe.getImages().size() >= 1}" th:src="${recipe.getImages()[0].getUrl()}" alt="unavailable"/>
                    <div class="card-body">
                        <div>
                            <h6 class="mb3"><span th:text="${recipe.difficulty}"></span></h6>
                        </div>

                        <div class="scroll mb-2" style="height:200px; overflow-y: scroll;">
                            <p style="line-height: 20px;"><span th:text="${recipe.description}"></span></p>
                        </div>

                        <a th:href="@{/recipes/{id}(id=${ recipe.id })}" class="btn btn-red text-center rounded-pill nav-link shadow px-2 viewDBRecipe">More info</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
        <!--      Modal that will hold recipe details       -->
        <div class="modal fade" th:each="modalRecipeDB : ${recipeResultsDB}" th:id="${'viewDBRecipeModal' + modalRecipeDB.id}" tabindex="-1" role="dialog"
             aria-labelledby="recipeModalLongTitle" aria-hidden="true" >

            <div class="modal-dialog modal-lg" >
                <div class="modal-content">
                    <div class="modal-header">
                        <h1>Test</h1>
                        <!--                    <div sec:authorize="isAuthenticated()">-->
                        <!--                        <a th:href="@{|/profile/${recipe.user.id}|}"><h5-->
                        <!--                                class="modal-title text-center profileFromRecipeAnchorTags"-->
                        <!--                                id="recipeModalLongTitle"-->
                        <!--                                th:text="${recipe.title + ' | Posted by: ' + recipe.user.username}"></h5>-->
                        <!--                        </a>-->
                        <!--                    </div>-->
                        <!--                    <div sec:authorize="isAnonymous()">-->
                        <!--                        <a th:href="@{|/profile/${recipe.user.id}|}"><h5-->
                        <!--                                class="modal-title text-center profileFromRecipeAnchorTags"-->
                        <!--                                id="recipeModalLongTitle"-->
                        <!--                                th:text="${recipe.title + ' | Posted by: ' + recipe.user.username}"></h5>-->
                        <!--                        </a>-->
                        <!--                    </div>-->
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-image mx-auto">
                        <!--    Image for recipe    -->
                        <!--                    <img class="profileFromRecipeModuleImage img-fluid" th:attr="src=@{${recipe.recipeImageUrl}}"-->
                        <!--                         alt="Recipe image">-->
                    </div>
                    <div class="modal-body">
                        <!--    Display the recipes cuisines    -->
                        <h5 class="modal-instructions-title profileFromRecipeText">Category</h5>
                        <ul class="modal-cuisine d-flex p-0">
                            <!--                        <div th:each="category : ${recipe.categories}">-->
                            <!--                            <li class="mr-2" th:text="${category.name}"></li>-->
                            <!--                        </div>-->
                        </ul>
                        <!--      Display Ingredients title         -->
                        <h5 class="modal-instructions-title profileFromRecipeText">Ingredients</h5>
                        <!--    List displaying the ingredients    -->
                        <ul class="ingredient-list-group p-0">
                            <!--      Ingredients will display here dynamically      -->
                            <!--                        <div th:each="ingredient : ${recipe.ingredients}">-->
                            <!--                            <li class="list-group-item mt-1 mb-1" th:text="${ingredient.name}"></li>-->
                            <!--                        </div>-->
                        </ul>
                        <!--      Display Instructions-->
                        <h5 class="modal-instructions-title profileFromRecipeText">Directions</h5>
                        <!--      Instructions will display here dynamically      -->
                        <!--                    <div class="list-group-item mt-1 mb-1" th:text="${recipe.directions}"></div>-->
                        <h5 class="modal-instructions-title profileFromRecipeText">Comments</h5>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

    </div>


<!-- // Results from SpoonAPI-->
<!--- Modal to display recipe information --->
<div class="container d-none" id="recipeSpoonApi">
    <div class="recipes1 row row-cols-1 row-cols-md-4 g-5"></div>
    <div
        class="modal fade"
        id="viewRecipeModal"
        tabindex="-1"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
>
    <div class="modal-dialog modal-lg">
        <form th:action="@{/recipes}" th:object="${recipe}" method="post">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="recipe-title" id="exampleModalLabel">Modal title</h5>
                    <button
                            type="button"
                            class="close"
                            data-dismiss="modal"
                            aria-label="Close"
                    ><span>&times;</span></button>
                </div>

                <!-- Display Image -->
                <div class="recipe-image mx-auto"></div>

                <div class="modal-body">
                    <!-- Display Prep Time -->
                    <h4>Prep Time</h4>
                    <div class="recipe-prep"></div>

                    <!-- Display Cook Time -->
                    <h4>Cook Time</h4>
                    <div class="recipe-cook"></div>

                    <!-- Display summary -->
                    <h4>Summary</h4>
                    <div class="recipe-summary"></div>

                    <!-- Display Categories by cuisines: im planning to change this into pills for future -->
                    <h4>Categories</h4>
                    <ul class="recipe-categories"></ul>

                    <!-- Display current servings -->
                    <h4>Servings</h4>
                    <div class="recipe-servings"></div>

                    <!-- Display Ingredients -->
                    <h4>Ingredients</h4>
                    <ul class="recipe-ingredients"></ul>

                    <!-- Display Instructions -->
                    <h4>Directions</h4>
                    <ol class="recipe-directions"></ol>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                        Close
                    </button>
                    <button type="submit" class="btn btn-yellow" sec:authorize="isAuthenticated()">Add to favorites</button>
                </div>
            </div>
            <input type="hidden" id="hidden-spoonApi-id" th:name="spoonApiId" value=""/>
            <input type="hidden" id="hidden-recipe-title" th:name="title" value=""/>
            <input type="hidden" id="hidden-recipe-image" th:name="image" value=""/>
            <input type="hidden" id="hidden-recipe-prep" th:name="prep" value=""/>
            <input type="hidden" id="hidden-recipe-cook" th:name="cook" value=""/>
            <input type="hidden" id="hidden-recipe-servings" th:name="servings" value=""/>
            <input type="hidden" id="hidden-recipe-summary" th:name="summary" value=""/>
            <input type="hidden" id="hidden-recipe-categories" th:name="categories" value=""/>
            <input type="hidden" id="hidden-recipe-ingredients" th:name="ingredients" value=""/>
            <input type="hidden" id="hidden-recipe-directions" th:name="directions" value=""/>
        </form>
    </div>
</div>
</div>



<th:block th:include="partials/scripts :: scripts"></th:block>

<script th:inline="javascript">

    // In the head
    const spoonApi = document.querySelector('meta.spoonApi').content;

    if (document.getElementById('main_search') == null) {
        console.log("yo, it's null");
    } else {
        let searchString;
        let urlSearchString = window.location.href;
        let url = new URL(urlSearchString);
        let searchParam = url.searchParams.get("term");
        searchString = searchParam.replace(/,|,\s/g, ",+");
        console.log("url string" + searchString);

        $.ajax({
            type: 'GET',
            url: `https://api.spoonacular.com/recipes/findByIngredients?ingredients=${searchString}&number=10&apiKey=${spoonApi}`,
            success: function (results) {
                console.log(results);
                let recipe = "";

                recipe += `<div class="col-md-12">
                                <h3 class="my-3 text-center"></h3>
                            </div>`;

                $('.recipes1').html(recipe);


                $.each(results, function (i, recipe) {
                    $.ajax({
                        type: 'GET',
                        url: `https://api.spoonacular.com/recipes/${recipe.id}/information?apiKey=${spoonApi}&includeNutrition=false`,
                        success: function (singleRecipe) {
                            console.log(singleRecipe);

                            $('.recipes1').append(
                                `<div class="col">
                                    <div class="spoonResultsCard my-2 h-100">
                                        <h5 class="card-title text-center">${singleRecipe.title}</h5>
                                            <img class="card-img-top" src=${singleRecipe.image} alt="unavailable"/>
                                    <div class="card-body">
                                        <div>
                                            <h6 class="mb3">${recipe.usedIngredientCount}/${recipe.usedIngredientCount + recipe.missedIngredientCount} ingredients</h6>
                                        </div>

                                    <div class="scroll mb-2" style="height:200px; overflow-y: scroll;">
                                        <p style="line-height: 20px;">${singleRecipe.summary}</p>
                                    </div>

                                    <button class="btn btn-red text-center rounded-pill nav-link shadow px-2 viewRecipe" data-toggle="modal" data-target="#viewRecipeModal" id=${singleRecipe.id}>More info</button>
                                    </div>
                                    </div>
                                </div>`)


                            // Trigger Recipe Modal
                            $('.viewRecipe').unbind().click(function () {
                                console.log(this.id + " button clicked");

                                $.ajax(`https://api.spoonacular.com/recipes/${this.id}/information?includeNutrition=false&apiKey=${spoonApi}`)
                                    .done(function (modalRecipe) {
                                        console.log(modalRecipe)
                                        console.log(modalRecipe.title)

                                        // Recipe Information
                                        let image = "";
                                        let summary = "";
                                        let title = "";
                                        let ingredients = "";
                                        let instructions = "";
                                        let category = "";
                                        let prepTime = "";
                                        let cookTime = "";
                                        let servings = "";

                                        let hiddenTitle = modalRecipe.title + ' by ' + modalRecipe.sourceName;
                                        let hiddenSpoonApiId = modalRecipe.id;
                                        let hiddenImage = modalRecipe.image;
                                        let hiddenPrepTime = modalRecipe.preparationMinutes;
                                        let hiddenCook = modalRecipe.cookingMinutes;
                                        let hiddenServings = modalRecipe.servings;
                                        let hiddenSummary = modalRecipe.summary;
                                        let hiddenCategories = "";
                                        let hiddenIngredients = "";
                                        let hiddenDirections = "";

                                        image += `<img class="img-fluid" src=${modalRecipe.image} alt="" />`;

                                        // a hrefs are not working with template literals
                                        title += modalRecipe.title + ' by ' + '<a href="' + modalRecipe.sourceUrl + '">' + modalRecipe.sourceName + '</a>';

                                        prepTime += `<p>${modalRecipe.preparationMinutes} mins</p>`;

                                        cookTime += `<p>${modalRecipe.cookingMinutes} mins</p>`;

                                        servings += `<p>${modalRecipe.servings} servings</p>`

                                        summary += `<p>${modalRecipe.summary}</p>`;

                                        // Categories List
                                        if (modalRecipe.cuisines.length == 0) {
                                            category += `<li class="">Unknown category</li>`;

                                            hiddenCategories = 'Unknown category';
                                        } else {
                                            for (let i = 0; i < modalRecipe.cuisines.length; i++) {
                                                category += `<li class="list-group">${modalRecipe.cuisines[i]}</li>`;

                                                hiddenCategories += modalRecipe.cuisines[i] + '##'
                                            }
                                        }

                                        // Ingredients List
                                        if (modalRecipe.extendedIngredients.length == 0) {
                                            ingredients += 'No ingredients recorded';
                                            hiddenIngredients = 'No ingredients recorded';
                                        } else {
                                            for (let i = 0; i < modalRecipe.extendedIngredients.length; i++) {
                                                ingredients += `<li>${modalRecipe.extendedIngredients[i].amount}
                                                                    ${modalRecipe.extendedIngredients[i].unit}
                                                                    ${modalRecipe.extendedIngredients[i].originalName}
                                                                </li>`;

                                                hiddenIngredients += modalRecipe.extendedIngredients[i].amount + '@@' + modalRecipe.extendedIngredients[i].unit + '@@' + modalRecipe.extendedIngredients[i].originalName + '##';
                                            }
                                        }

                                        // Grab Instructions
                                        if (modalRecipe.analyzedInstructions.length === 0) {
                                            instructions += '<p>' + 'Sorry, directions not available' + '</p>';
                                            instructions += '<p>' + 'You can find more information in the main' +
                                                '<a href="' + modalRecipe.sourceUrl + '">' + '<strong>' + " source." + '</strong>' + '</a>' + '</p>';

                                            hiddenDirections = 'Sorry, directions not available';
                                        } else {
                                            for (let i = 0; i < modalRecipe.analyzedInstructions[0].steps.length; i++) {
                                                instructions += `<li class="list-group">
                                                                    <p>${modalRecipe.analyzedInstructions[0].steps[i].number}.
                                                                        <span>${modalRecipe.analyzedInstructions[0].steps[i].step}</span>
                                                                    </p>
                                                                 </li>`;

                                                hiddenDirections += modalRecipe.analyzedInstructions[0].steps[i].number + ' ' + modalRecipe.analyzedInstructions[0].steps[i].step + '##'
                                            }
                                        }

                                        // Display to modal
                                        $('.recipe-title').html(title);
                                        $('.recipe-image').html(image);
                                        $('.recipe-prep').html(prepTime);
                                        $('.recipe-cook').html(cookTime);
                                        $('.recipe-servings').html(servings);
                                        $('.recipe-summary').html(summary);
                                        $('.recipe-categories').html(category);
                                        $('.recipe-ingredients').html(ingredients);
                                        $('.recipe-directions').html(instructions);

                                        // Hidden Fields
                                        $('#hidden-spoonApi-id').val(hiddenSpoonApiId);
                                        $('#hidden-recipe-title').val(hiddenTitle);
                                        $('#hidden-recipe-image').val(hiddenImage);
                                        $('#hidden-recipe-prep').val(hiddenPrepTime);
                                        $('#hidden-recipe-cook').val(hiddenCook);
                                        $('#hidden-recipe-servings').val(hiddenServings);
                                        $('#hidden-recipe-summary').val(hiddenSummary);
                                        $('#hidden-recipe-categories').val(hiddenCategories);
                                        $('#hidden-recipe-ingredients').val(hiddenIngredients);
                                        $('#hidden-recipe-directions').val(hiddenDirections);
                                    })
                            })
                        },
                        complete: function () {
                            console.log("FINISHED");
                            $('.spinner-grow').hide();
                            $('.spinner-grow').addClass('d-none');
                            setTimeout(function() {
                                let spoonCard = document.getElementsByClassName('spoonResultsCard');
                                console.log(spoonCard.length);
                            }, 1000)
                        }
                    })
                })

            }
        })

        // button to show the drafts
        $("#communityDBTab").click(function () {
            if($("#recipesDB").hasClass("d-none")){// if the draft div is hidden
                $("#recipesDB").removeClass("d-none"); // div where drafts are
                $("#recipeSpoonApi").addClass("d-none");// div where published are
            }
        });

        // button to show published recipes
        $("#recipeApiTab").click(function () {
            if($("#recipeSpoonApi").hasClass("d-none")){ // if the published div is hidden
                $("#recipesDB").addClass("d-none");// hide the drafts div
                $("#recipeSpoonApi").removeClass("d-none");// show the published div
            }
        });

    }
</script>
<th:block th:include="partials/scripts :: scripts"></th:block>
<script th:src="@{/js/fraction_converter.js}"></script>
</body>
</html>
