<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <title>Create a Recipe</title>
    <link href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
          integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <!--  MAIN CSS -->
    <link rel="stylesheet" th:href="@{/css/main.css}">
    <!--  CUSTOM PROFILE CSS -->
    <link rel="stylesheet" th:href="@{/css/recipe.css}">
</head>
<body>
<header>
    <nav th:replace="partials/navbar.html :: nav"></nav>
</header>
<main class="pt-5 ">
    <div class="container bg-light tab-card rounded-card shadow-lg mt-4 p-3 green-text font-weight-bold">
        <div>
            <h3 class="my-3 text-center chow-font">Smells great, What is that?</h3>
        </div>
        <form th:action="@{/recipes/new}" th:method="post" th:object="${recipe}">

            <!--    ENTER A RECIPE TITLE   -->
            <div class="form-group mb-3 px-4">
                <label id="title">Title</label>
                <input type="text" class="form-control" aria-label="Title"
                       aria-describedby="title" th:field="*{title}" required placeholder="Your yummy title .."/>
                <p th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></p>
            </div>

            <!--    ENTER RECIPE DESCRIPTION -->
            <div class="form-group px-4">
                <label>Description</label>
                <textarea class="form-control" placeholder="your savory description .." aria-label="description" rows="3" th:field="*{description}" minlength="10"></textarea>
                <p th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></p>
                <p id="recipe-id"></p>
            </div>


            <div class="form-row px-4">
                <!--    ENTER PREP TIME IN MINUTES   -->
                <div class="col-md-4 mb-3">
                    <label id="prep-time">Prep-time</label>
                    <input type="number" class="form-control" aria-label="Prep-time"
                           aria-describedby="prep-time" th:field="*{prepTime}" min="0">
                    <p th:if="${#fields.hasErrors('prepTime')}" th:errors="*{prepTime}"></p>
                </div>

                <!--    ENTER COOK TIME IN MINUTES   -->
                <div class="col-md-4 mb-3">
                    <label id="cook-time">Cook-time</label>
                    <input type="number" class="form-control" aria-label="Cook-time"
                           aria-describedby="cook-time" th:field="*{cookTime}" min="0">
                    <p th:if="${#fields.hasErrors('cookTime')}" th:errors="*{cookTime}"></p>
                </div>

            <!--    ENTER NUMBER OF SERVINGS RECIPE PREPARES    -->
                <div class="col-md-4 mb-3">
                    <label id="servings">Servings</label>
                    <input type="number" class="form-control" aria-label="Servings"
                           aria-describedby="servings" th:field="*{servings}" min="1" max="20" value="1">
                    <p th:if="${#fields.hasErrors('servings')}" th:errors="*{servings}"></p>
                </div>
            </div>

            <!--    ENTER DIFFICULTY LEVEL    -->
            <div class="form-group px-4">
                <label>Difficulty</label><br>
                <div class="custom-control custom-radio custom-control-inline">
                    <input class="custom-control-input" type="radio" name="difficulty" id="easy" th:field="*{difficulty}" value="easy" checked required>
                    <label class="custom-control-label mr-2" for="easy" >Easy</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                    <input class="custom-control-input" type="radio" name="difficulty" id="medium"
                           th:field="*{difficulty}" value="medium" required>
                    <label class="custom-control-label mr-2" for="medium">
                        Medium
                    </label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                    <input class="custom-control-input" type="radio" name="difficulty" id="hard"
                           th:field="*{difficulty}" value="hard" required>
                    <label class="custom-control-label mr-2" for="hard">
                        Hard
                    </label>
                </div>
                <p th:if="${#fields.hasErrors('difficulty')}" th:errors="*{difficulty}"></p>
            </div>

            <!--    CATEGORIZE THE RECIPE   -->
            <div class="form-group px-4">
                <label id="cusine">Cusine</label>
                <select name="categories" class="form-control" multiple>
                    <option th:each="category : ${categories}" th:text="${category.name}" th:value="${category.id}" th:field="*{categories}"></option>
                </select>
            </div>

            <!--    ENTER COOKING DIRECTIONS  -->
            <div class="form-group px-4">
                <label id="directions">Directions</label>
                <textarea class="form-control" placeholder="Step one create something delicious .." aria-label="directions" rows="5"
                          th:field="*{directions}" minlength="20" required ></textarea>
                <p th:if="${#fields.hasErrors('directions')}" th:errors="*{directions}" ></p>
            </div>
            <div class="form-group d-flex justify-content-center align-items-center">
                <button sec:authorize="isAuthenticated()" th:if="${recipe.id == 0}" class="btn btn-red text-center rounded-pill nav-link shadow px-2" type="submit">
                    Get Cooking
                </button>
            </div>
        </form>

</div>
<!--JS SCRIPTS-->
<!--! MODALS-->
<th:block th:include="partials/scripts :: scripts"></th:block>
<script th:src="@{/js/recipes.js}"></script>

</body>
</html>