<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head('Create a Recipe')">

    <meta charset="UTF-8">
    <title>Create Recipe</title>
</head>

<body>
<!--<nav th:replace="partials/navbar :: nav"></nav>-->
<div>


</div>
<form th:action="@{/recipes/new2}" th:method="post" th:object="${recipeingredients}">

    <label>Ingredients:</label>




</form>


<th:block th:include="partials/scripts :: scripts"></th:block>
<script>




</script>




</body>
</html>