<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head('Results')">
    <meta charset="UTF-8">
    <title>Results</title>
</head>
<body>
<!--<nav th:replace="partials/navbar :: nav"></nav>-->
<div class="form-outline">
    <form class="w-50 mt-4 mx-auto" th:action="@{/search}" method="get">
        <input type="text" class="form-control" id="main_search"
               placeholder="Enter ingredients ex. tomato, lettuce, apple" name="term">
    </form>
</div>


<!--    // Dump recipes here-->
<div class="container">
    <div class="recipes row row-cols-1 row-cols-md-4 g-5"></div>
</div>
<!--- Modal to display recipe information - This can be changed later on --->
<div
        class="modal fade"
        id="viewRecipeModal"
        tabindex="-1"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
>
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="recipe-title" id="exampleModalLabel">Modal title</h5>
                <button
                        type="button"
                        class="btn-close"
                        data-dismiss="modal"
                        aria-label="Close"
                ></button>
            </div>

            <!-- Display Image -->
            <div class="recipe-image mx-auto"></div>

            <div class="modal-body">
                <!-- Display Prep Time -->
                <h4>Prep Time</h4>
                <div class="recipe-prep"></div>

                <!-- Display Cook Time -->
                <h4>Cook Time</h4>
                <div class="recipe-cook"></div>

                <!-- Display summary -->
                <h4>Summary</h4>
                <div class="recipe-summary"></div>

                <!-- Display Categories by cuisines: im planning to change this into pills for future -->
                <h4>Categories</h4>
                <ul class="recipe-categories"></ul>

                <!-- Display current servings -->
                <h4>Servings</h4>
                <div class="recipe-servings"></div>

                <!-- Display Ingredients -->
                <h4>Ingredients</h4>
                <ul class="recipe-ingredients"></ul>

                <!-- Display Instructions -->
                <h4>Directions</h4>
                <ol class="recipe-directions"></ol>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                    Close
                </button>
                <button type="button" class="btn btn-primary">Add to favorites</button>
            </div>
        </div>
    </div>
</div>


<th:block th:include="partials/scripts :: scripts"></th:block>

<script th:inline="javascript">

    // In the head
    let spoonApi = document.querySelector('meta.spoonApi').content;

    if (document.getElementById('main_search') == null) {
        console.log("yo, it's null");
    } else {
        //var term = $('input').val();
        //console.log(term); // Always return null
        var searchString;
        // console.log(searchString);
        var urlSearchString = window.location.href;
        var url = new URL(urlSearchString);
        var searchParam = url.searchParams.get("term");
        searchString = searchParam.replace(/,|,\s/g, ",+");
        console.log("url string" + searchString);

        // Search by ingredients
        $.when($.ajax("https://api.spoonacular.com/recipes/findByIngredients?ingredients=" + searchParam + "&number=10&apiKey=" + spoonApi + "")
            .then(function (results) {
                console.log(results);

                let recipe = "";
                // console.log(getSummary(4632));

                recipe += '<div class="col-md-12">'
                recipe += '<h3 class="my-3">Results</h3>';
                recipe += '</div>';

                for (let i = 0; i < results.length; i++) {

                    // function getData(id) {
                    //     $.when($.ajax("https://api.spoonacular.com/recipes/" + id + "/information?includeNutrition=false&apiKey=" + spoonApi + "")
                    //         .then(function (data) {
                    //             console.log(data.summary);
                    //             //recipe += '<div>' + data.summary + '<div/>'
                    //             return '<p>' + data.summary + '</p>'
                    //         }));
                    // }

                    recipe += '<div class="col">'
                    recipe += '<div class="card h-100">';
                    recipe += '<h5 class="card-title text-center">' + results[i].title + '</h5>';
                    recipe += '<img class="card-img-top" src="' + results[i].image + '"/>';
                    recipe += '<div class="card-body">';
                    // This function getData() is not working. Returns undefined
                    // recipe += '<div>' + getData(results[i].id) + '<div/>'

                    // Calculate (total # of ingredients needed - # of ingredients entered)
                    recipe += '<div>' + results[i].usedIngredientCount + "/" +  (results[i].usedIngredientCount + results[i].missedIngredientCount) + " ingredients" + '</div>'

                    recipe += '<button class="btn btn-primary viewRecipe" ' + 'data-toggle="modal" data-target="#viewRecipeModal" id="' + results[i].id + '">' + " View " + '</button>'
                    recipe += '</div>';
                    recipe += '</div>';
                    recipe += '</div>';
                }
                $('.recipes').html(recipe);

                // Individual Recipe
                $('.viewRecipe').on('click', function () {
                    console.log(this.id + " button id");

                    $.ajax("https://api.spoonacular.com/recipes/" + this.id + "/information?includeNutrition=false&apiKey=" + spoonApi + "")
                        .done(function (results) {
                            console.log(results);

                            // Recipe Information
                            let image = "";
                            let summary = "";
                            let title = "";
                            let ingredients = "";
                            let instructions = "";
                            let category = "";
                            let prepTime = "";
                            let cookTime = "";
                            let servings = "";

                            console.log(results.title);

                            image += '<img class="img-fluid" src="' + results.image + '" alt="" />';

                            title += results.title + ' by ' + '<a href="' + results.sourceUrl + '">' + results.sourceName + '</a>';

                            prepTime += '<p>' + results.preparationMinutes + " mins" + '</p>'

                            cookTime += '<p>' + results.cookingMinutes + " mins" + '</p>'

                            servings += '<p>' + results.servings + " servings" + '</p>'

                            summary += '<p>' + results.summary + '</p>';

                            // Categories List
                            if (results.cuisines.length == 0) {
                                category += '<li class="">' + 'Unknown category' + '</li>';
                            } else {
                                for (let i = 0; i < results.cuisines.length; i++) {
                                    category += '<li class="list-group">' + results.cuisines[i] + '</li>'
                                }
                            }

                            // Ingredients List
                            if (results.extendedIngredients.length == 0) {
                                ingredients += 'No ingredients recorded'
                            } else {
                                for (let i = 0; i < results.extendedIngredients.length; i++) {
                                    ingredients += '<li>' + results.extendedIngredients[i].amount + " "
                                                          + results.extendedIngredients[i].unit + " "
                                                          + results.extendedIngredients[i].originalName + '</li>';
                                }
                            }

                            // Grab Instructions
                            if (results.analyzedInstructions.length === 0) {
                                instructions += '<p>' + 'Sorry, directions not available' + '</p>';
                                instructions += '<p>' + 'You can find more information in the main' +
                                                '<a href="' + results.sourceUrl + '">' + '<strong>' + " source." + '</strong>' + '</a>' + '</p>';
                            } else {
                                for (let i = 0; i < results.analyzedInstructions[0].steps.length; i++) {
                                    instructions += '<li class="list-group">' + '<p>' + results.analyzedInstructions[0].steps[i].number + ". " +
                                                                                  '<span>' + results.analyzedInstructions[0].steps[i].step + '</span>' + '</p>' + '</li>';
                                }
                            }


                            // Display to modal
                            $('.recipe-title').html(title);
                            $('.recipe-image').html(image);
                            $('.recipe-prep').html(prepTime);
                            $('.recipe-cook').html(cookTime);
                            $('.recipe-servings').html(servings);
                            $('.recipe-summary').html(summary);
                            $('.recipe-categories').html(category);
                            $('.recipe-ingredients').html(ingredients);
                            $('.recipe-directions').html(instructions);
                        })
                })
            }))
    }
</script>
</body>
</html>