<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="partials/head :: head('Show Recipe')">
  <meta charset="UTF-8">
  <title>Show Recipe</title>
</head>
<body>
<div class="row">
  <header th:include="/partials/navbar.html :: nav"></header>
</div>
<br><br><br>
<!--Todo: if "search == null display /random recipes : display /recipesbyingredientorfilter"   -->
<!--Todo:potentailly more robust where we can also search for recipes by title or categories.-->
<div class="container">
  <!--Card Body -->
  <div class="card-body">
    <div class="row">
      <div class="col-3">
        <!--Todo: reactive and sizing-->
        <div class="row">
          <h5 th:text="${recipe.favoritedBy.size()}" class="text-center"></h5>
          <i class="far fa-bookmark ml-2 align-center"></i>
        </div>
      </div>
    </div>
    <!--Card-->
    <div class="row">
      <div class="col-md-6 my-1">
        <div class="view overlay z-depth-1">
            <div th:each="img : ${recipe.images}">
              <img th:attr="src=${img.url},title=${img.url}" class="img-fluid" alt="user"/>
            </div>
            <div class="mask waves-effect waves-light rgba-white-slight"></div>
          <div class="col-9">
            <h2 class="card-title" th:text="${recipe.title}"></h2>
          </div>
          <div class="row">
            <div class="col">
              <i class="fas fa-utensils"></i>
              <h5 th:text="${recipe.favoritedBy.size()}">7/10 ingredients</h5>
            </div>
            <div class="col">
              <i class="fas fa-user-friends"></i>
              <h5 th:text="${recipe.favoritedBy.size()}">Serves</h5>
            </div>
            <div class="col">
              <i class="fas fa-utensils"></i>
              <h5 th:text="${recipe.difficulty}"></h5>
            </div>
            <div class="col">
              <i class="far fa-clock text-center"></i>
              <h5 th:text="${recipe.cookTime}"></h5>
            </div>
          </div>
          <div class="description rgba-stylish-light text-white">
            <div class="title ml-2">
              <div class="d-flex mt-3">
                <div th:each="recipeCategories : ${recipe.categories}">
                  <p class="mr-2" th:text="${recipeCategories.name}"></p>
                </div>
              </div>
            </div>
            <div>
              <div class="container">
                <div class="row">
                  <h4 th:text="${recipe.description}"></h4>
                </div>
              </div>
              <hr>
              <div class="row">
                <h4 th:text="${recipe.directions}"></h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
</div>
</div>


<th:block th:include="partials/scripts :: scripts"></th:block>
</body>
</html>
