<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/scripts :: head('Show a Recipe')">
    <meta charset="UTF-8">
</head>
<body>
<nav th:replace="partials/navbar :: nav"></nav>

<main class="container">
    <div class="card">
        <h3 class="text-center" th:text="${recipe.title}"></h3>
        <p th:text="${chef}"></p>
        <p th:text="${recipe.difficulty}"></p>
        <p th:text="${recipe.cookTime}"></p>
        <p th:text="${recipe.prepTime}"></p>
        <p th:text="${recipe.servings}"></p>
        <p th:text="${recipe.directions}"></p>
    </div>
</main>
<footer th:replace="partials/partials :: footer"></footer>
<th:block th:include="partials/scripts :: scripts"></th:block>
</body>
</html>
