<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="partials/head :: head(title)"></head>
<body style="background-color: #03b090;">
<header>
    <nav th:replace="partials/navbar.html :: nav"></nav>
</header>
<main>
    <div class="container">
        <div class="row mt-5 pt-md-5">
            <div class="col-md-3 my-2 white-text text-center ">
                <form th:action="@{/users/{id}/upload(id=${user.id})}" th:method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <img id="image_upload_preview" th:src="${user.avatar}" class="rounded-circle shadow-lg" style="border: 5px solid rgb(255, 255, 255);" width="200" height="200" th:alt="${user.firstName}">
                        <br>
                        <br>
                        <label class="btn mb-0">
                            <i class="fas fa-pencil-alt"></i>  Edit <input accept=".jpg,.png,.jpeg" name="file" type='file' id="profilePicture" hidden/>
                        </label>
                        <button id="avatarUpdate" type="submit" class="btn btn-sm btn-red"  style="display: none;">Updload</button>
                    </div>
                </form>
                <a class="btn btn-block btn-yellow btn-outline-default shadow" th:href="@{/users/{id}(id=${user.id})}">View Profile</a>
            </div>
            <div class="col-md-9 mb-4">
                <!--    EDIT USER FORM -->
                <div class="card bg-light rounded-card shadow-lg my-4">
                    <form th:replace="users/forms :: edit"></form>
                </div>
                <div th:if="${canChange}" class="card bg-light rounded-card shadow-lg my-4">
                    <form th:replace="users/forms :: resetPassword"></form>
                </div>
            </div>
        </div>
    </div>
</main>
<!--MODALS-->
<div th:replace="partials/modals"></div>
<div th:replace="partials/scripts :: scripts"></div>
<script type="text/javascript">
    // preview image upload function
    function readURL(input) {

        if (input.files && input.files[0]) {
            let reader = new FileReader();

            reader.onload = function (e) {
                $('#image_upload_preview').attr('src', e.target.result);
            }

            reader.readAsDataURL(input.files[0]);
        }
    }

    // if avatar image file is selected call preview function and shows avatar button
    $("#profilePicture").on('change', function() {
        $("#avatarUpdate").show();
        readURL(this);
    });

</script>

</body>
</html>

