<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <form th:action="@{/upload}" th:method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="file">Content</label>
            <input type="file" name="file"  class="form-control" id="file" >
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
</body>
</html>