<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
   
    <title>Title</title>
</head>
<body>

<div class="container">
    <form id="createUser" th:action="@{/users/create}"  th:method="post" th:object="${user}">
        <div class="form-group">
            <label for="email">Email</label>
            <input th:field="*{email}" type="text" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Email">
            <small id="titleHelp" class="form-text text-muted"></small>
        </div>
        <div class="form-group">
            <label for="firstName">First Name</label>
            <input th:field="*{firstName}"  type="text" class="form-control" id="firstName" placeholder="">
        </div>
        <div class="form-group">
            <label for="password">Content</label>
            <input th:field="*{password}"  type="password" class="form-control" id="password" placeholder="password">
        </div>
        <button id="btnSubmit" type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
<div id="users"></div>
<script
        src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous"
>
</script>
<script>
    (function($) {
        // var request = $.ajax({'url': '/api/users'});
        // request.done(function (users) {
        //     var html = '';
        //     users.forEach(function(user) {
        //         html += '<div>';
        //         html += '<h1>' + user.firstName + '</h1>';
        //         html += '<p>' + user.lastName + '</p>';
        //         html += '<p>' + user.email+ '</p>';
        //         html += '</div>';
        //     });
        //     $('#users').html(html);
        // });

        // $("#createUser").submit(function(e) {
        //
        //     e.preventDefault(); // avoid to execute the actual submit of the form.
        //
        //     var form = $(this);
        //     var url = form.attr('action');
        //     var formData = JSON.stringify($(this).serializeArray());
        //     console.log(formData);
        //     $.ajax({
        //         type: "POST",
        //         url: url,
        //         data: formData,
        //         dataType: "json",
        //         contentType : "application/json"
        //     });
        //
        //
        // });



    })(jQuery);
    </script>
</body>
</html>