<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="_csrf" th:content="${_csrf.token}"/>
  <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
  <title>Dashboard</title>
  <link th:href="@{/img/favicon.png}" rel="shortcut icon" type="image/x-icon">
  <link href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" rel="stylesheet"/>
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" rel="stylesheet"/>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
 <link rel="stylesheet" th:href="@{/css/main.css}">
  <!--  CUSTOM PROFILE CSS -->
  <link rel="stylesheet" th:href="@{/css/profile.css}">

</head>
<body>
<header>
  <nav th:replace="partials/navbar.html :: nav"></nav>
</header>
<main class="mb-5">
  <!--Main Container-->
    <!-- USER INFO -->
    <div th:each="ingredient : ${pantryIngredients}">
      <p th:text="${ingredient}"></p>
    </div>
    <div class="container mt-4 pt-5">
      <div class="row px-2 pt-md-5">
        <!-- IF HAS PROFILE PICTURE -->
        <div class="col-4 col-sm-3 px-lg-5 mb-4 text-center">
          <img width="100%" th:src="${user.avatar}" class="rounded-circle shadow-sm" style="border: 5px solid rgb(255, 255, 255);">
        </div>
        <div class="col-8 col-sm-9 mb-4">
          <div class="mb-2">
            <h2 id="profileName" class="mb-0 text-black" th:text="${user.firstName}"></h2>
          </div>
          <!-- IF CUSTOMER IS HAS ABOUT ME ELSE -->
          <p class="text-white">
            <em>
              <small th:text="${user.getAboutMe()} ?: 'Introduce yourself to the community by writing a little about yourself.'"></small>
            </em>
          </p>

          <div>
            <!-- EDIT PROFILE LINK -->
            <a th:href="@{/users/{id}/edit(id=${user.id})}" sec:authorize="isAuthenticated()" th:if="${isOwner}" type="button" class="btn yellow-text edit-btn rounded-pill shadow font-weight-bold">Edit Profile</a>

            <!-- FOLLOW USER BUTTON -->
            <div th:if="${not isOwner}">
              <button id="addFriend" type="submit" class="btn btn-red rounded-pill" th:text="${isFollowing ? 'Unfollow' : 'Follow'}"></button>
            </div>
          </div>
        </div>
      </div>
      <!-- END USER INFO -->

<!--      DASHBOARD TABS-->
      <div class="container">
        <ul class="nav nav-tabs row align-items-center justify-content-center">
          <!--        recipes-->
          <li class="nav-item col-4 col-md-2 px-0" id="userRecipes" title="Recipes">
            <a class="nav-link dashtab nav-tab-shadow text-center" href="#recipesTab" data-toggle="tab">
              <i class="fas fa-utensils fa-2x"></i>
              <p class="text-black-50 mb-0 small">recipes</p>
            </a>
          </li>
          <!--        favorites-->
          <li class="nav-item col-4 col-md-2 px-0" id="userFavorites" >
            <a class="nav-link dashtab nav-tab-shadow text-center" href="#favoritesTab" data-toggle="tab">
              <i class="fas fa-bookmark fa-2x"></i>
              <p class="text-black-50 mb-0 small">favorites</p>
            </a>
          </li>
          <!--        followers-->
          <li class="nav-item col-4 col-md-2 px-0" id="userFollowers" >
            <a class="nav-link dashtab nav-tab-shadow text-center" href="#followersTab" data-toggle="tab">
              <i class="fas fa-users fa-2x"></i>
              <p class="text-black-50 mb-0 small">followers</p>
            </a>
          </li>
          <!--        following-->
          <li class="nav-item col-4 col-md-2 px-0" id="userFollowing">
            <a class="nav-link dashtab nav-tab-shadow text-center" href="#followingTab" data-toggle="tab">
              <i class="fas fa-user-plus fa-2x"></i>
              <p class="text-black-50 mb-0 small">following</p>
            </a>
          </li>
          <!--            PROFILE OWNER ONLY TABS-->
          <!--        pantry-->
          <li sec:authorize="isAuthenticated()" th:if="${isOwner}" class="nav-item col-4 col-md-2 px-0" id="userPantry" >
            <a class="nav-link dashtab nav-tab-shadow text-center" href="#pantryTab" data-toggle="tab">
              <i class="fas fa-lemon"></i><i class="fas fa-apple-alt fa-2x"></i><i class="fas fa-carrot"></i>
              <p class="text-black-50 mb-0 small">pantry</p>
            </a>
          </li>
          <!--        suggested recipes based on pantry-->
          <li sec:authorize="isAuthenticated()" th:if="${isOwner}" class="nav-item col-4 col-md-2 px-0" id="suggestions" >
            <a class="nav-link dashtab nav-tab-shadow text-center" href="#suggestionsTab" data-toggle="tab">
              <i class="fas fa-drumstick-bite fa-2x"></i>
              <span id="notification" th:data-internalId="${user.suggestedCount}" th:text="${notificationCount > user.suggestedCount ? notificationCount - user.suggestedCount : ''}" class="badge badge-danger rounded-pill" ></span>
              <p class="text-black-50 mb-0 small">suggestions</p>
            </a>
          </li>
        </ul>

      </div>
<!--      !DASHBOARD TABS-->
    </div>
  <div class="d-flex justify-content-center align-items-center ">
    <div class="container bg-light tab-card rounded-card shadow-lg mb-5">
    <div class="tab-content  ">
<!--      RECIPES TAB-->
      <div class="tab-pane active" id="recipesTab">
        <ul sec:authorize="isAuthenticated()" th:if="${isOwner}" class="nav row align-items-center justify-content-center">
          <li class="nav-item py-2">
            <div class="nav-link text-center" id="publishedTab" >
              <span class="text-black-50 mb-0 font-weight-bold">Recipes</span>
            </div>
          </li>
          <li class="nav-item py-2">
            <div class="nav-link text-center" id="draftTab"  >
              <span class="text-black-50 mb-0 font-weight-bold">Drafts</span> <span th:text="${drafts.size() > 0 ? drafts.size() : ''}" class="badge badge-secondary rounded-pill" ></span>
            </div>
          </li>
        </ul>

        <div id="publishedRecipes" class="row justify-content-center">
          <div class="col-md-12 py-3">
            <div class="text-center " th:if="${published.size() < 1}">
              <h5>Start Creating Some Recipes</h5>
              <a class="btn btn-red btn-sm rounded-pill" href="/recipes/new" >Create</a>
            </div>
          </div>
          <div th:each="recipe : ${published}" class="align-items-center justify-content-around">
            <div class="h-100 px-2 my-2 border-none bg-transparent recipe-card" style="width: 18rem;" >
              <a th:href="@{/recipes/{id}(id=${recipe.id})}">
                <img class="card-img-top shadow" style="border-radius:1.5rem!important" th:src="${recipe.images.size() > 0} ? ${recipe.images[0].url} : '/img/recipe-default.png' "/>
              </a>
              <div class="card-body bg-transparent">
                <h5 th:text="${recipe.title}" class="card-title truncate font-weight-bold"></h5>
                <div class="row align-items-baseline">
                  <div class="col-2">
                    <a th:href="@{/users/{id}(id=${recipe.chef.id})}">
                      <img th:src="${recipe.chef.avatar}" class="rounded-circle" style="width: 40px;height: 40px">
                    </a>
                  </div>
                  <div class="col-6">
                    <p th:text="${recipe.chef.firstName}"></p>
                  </div>
                  <div class="col-3">
                    <div class="rounded-pill border text-center" style="width: 75px" data-toggle="tooltip" data-placement="right" data-html="true" title="">
                      <i class="far fa-heart"></i> <span th:text="${recipe.favoritedBy.size()}"></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div sec:authorize="isAuthenticated()" th:if="${isOwner}" id="draftRecipes" class="row justify-content-center d-none">
          <div class="col-md-12 py-5">
<!--            <h3 th:text="${user.firstName + 's Recipes'}" class="my-3 text-center green-text text-uppercase font-weight-bold"></h3>-->
          </div>
          <div th:each="recipe : ${drafts}" class="align-items-center justify-content-around">
            <div class="h-100 px-2 my-2 border-none bg-transparent recipe-card" style="width: 18rem;" >
              <a th:href="@{/recipes/{id}(id=${recipe.id})}">
                <img class="card-img-top shadow" style="border-radius:1.5rem!important" th:src="${recipe.images.size() > 0} ? ${recipe.images[0].url} : '/img/recipe-default.png' "/>
              </a>
              <div class="card-body bg-transparent">
                <h5 th:text="${recipe.title}" class="card-title truncate font-weight-bold"></h5>
                <div class="row align-items-baseline">
                  <div class="col-2">
                    <a th:href="@{/users/{id}(id=${recipe.chef.id})}">
                      <img th:src="${recipe.chef.avatar}" class="rounded-circle" style="width: 40px;height: 40px">
                    </a>
                  </div>
                  <div class="col-6">
                    <p th:text="${recipe.chef.firstName}"></p>
                  </div>
                  <div class="col-3">
                    <div class="rounded-pill border text-center" style="width: 75px" data-toggle="tooltip" data-placement="right" data-html="true" title="">
                      <i class="far fa-heart"></i> <span th:text="${recipe.favoritedBy.size()}"></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
<!--      FAVORITES TAB-->
      <div class="tab-pane" id="favoritesTab">
        <div class="row justify-content-center py-5">
          <div th:each="favorite : ${user.favorites}" class="align-items-center justify-content-around">
            <div class="h-100 px-2 my-2 border-none bg-transparent recipe-card" style="width: 18rem;" >
              <a th:href="@{/recipes/{id}(id=${favorite.recipe.id})}">
                <img class="card-img-top shadow" style="border-radius:1.5rem!important" th:src="${favorite.recipe.images.size() > 0} ? ${favorite.recipe.images[0].url} : '/img/recipe-default.png' "/>
              </a>
              <div class="card-body bg-transparent">
                <h5 th:text="${favorite.recipe.title}" class="card-title truncate font-weight-bold"></h5>
                <div class="row align-items-baseline">
                  <div class="col-2">
                    <a th:href="@{/users/{id}(id=${favorite.recipe.chef.id})}">
                      <img th:src="${favorite.recipe.chef.avatar}" class="rounded-circle" style="width: 40px;height: 40px">
                    </a>
                  </div>
                  <div class="col-6">
                    <p th:text="${favorite.recipe.chef.firstName}"></p>
                  </div>
                  <div class="col-3">
                    <div class="rounded-pill border text-center" style="width: 75px" >
                      <i class="far fa-heart"></i> <span th:text="${favorite.recipe.favoritedBy.size()}"></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
<!--      FOLLOWERS TAB-->
      <div class="tab-pane" id="followersTab">
        <div class="row align-items-center justify-content-around p-3">
          <div th:each="follower : ${user.followers}" class="my-2 mx-2 text-center">
            <a class="text-center" th:href="@{/users/{id}(id=${ follower.user.id })}">
              <img th:src="${follower.user.avatar}" class="rounded-circle shadow-sm follow-avatar" style="border: 5px solid rgb(255, 255, 255);" alt="avatar">
            </a>
            <p th:text="${follower.user.firstName}"></p>
          </div>
        </div>
      </div>
<!--      FOLLOWING TAB-->
      <div class="tab-pane" id="followingTab">
        <div class="row align-items-center justify-content-around p-3">
          <div class="col-md-12">
          </div>
          <div th:each="following : ${user.followings}" class="my-2  mx-2 text-center">
            <a class="text-center" th:href="@{/users/{id}(id=${ following.friend.id })}">
              <img th:src="${following.friend.avatar}" class="rounded-circle shadow-sm follow-avatar" style="border: 5px solid rgb(255, 255, 255);" alt="avatar">
            </a>
            <p th:text="${following.friend.firstName}"></p>
          </div>
        </div>
      </div>
<!--      PANTRY TAB-->
      <div class="tab-pane pb-3" id="pantryTab">
          <div class="row align-items-center justify-content-around pt-3">
            <div class="col-12 col-md-6">
              <h3 th:text="${'Pantry'}" class="my-3 text-center chow-font green-text text-uppercase font-weight-bold"></h3>
            </div>
            <div class="search-box col-12 col-md-6">
              <input id="ingredientSearch" type="text" placeholder="Add Ingredient" class="input-box">
              <div class="search-btn">
                <i class="fa fa-plus" aria-hidden="true"></i>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div id="searchResults" class="container text-center"></div>
            </div>
          </div>
          <div class="px-4 my-3 d-flex justify-content-center align-items-center">
            <table id="ingredientsTable" class="table d-none table-borderless" >
              <thead class="text-black-50">
              <tr>
                <th>Ingredient</th>
                <th>Amount</th>
                <th></th>
              </tr>
              </thead>
              <!--    RENDERED DYNAMIC CONTENT-->
              <tbody id="ingredientsBody">
              </tbody>
            </table>
          </div>
      </div>
<!--      SUGGESTIONS TAB-->
<!--      rendered via ajax-->
      <div  class="tab-pane" id="suggestionsTab">
      </div>
      </div>
    </div>
  </div>


</main>

<!-- PROFILE OWNER ONLY MODALS-->
<!--Delete Ingredient Modal-->
<div sec:authorize="isAuthenticated()" th:if="${isOwner}" class="modal fade" id="deleteIngredientModal" tabindex="-1" role="dialog" aria-labelledby="deleteIngredientModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="deleteIngredientModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
<!--      DELETE FORM-->
      <form id="deleteIngredient">
          <div class="modal-body">
            <input name="id" type="hidden" value="'+pantryIngId+'"/>
            <p>Are you sure you want to trash this?</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-red" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-green">Confirm</button>
          </div>
      </form>
    </div>
  </div>
</div>
<!-- Add Ingredient Modal -->
<div sec:authorize="isAuthenticated()" th:if="${isOwner}" class="modal fade" id="ingredientModal" tabindex="-1" role="dialog" aria-labelledby="ingredientModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="ingredientModalLabel">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
<!--      ADD/EDIT INGREDIENT FORM-->
      <form id="ingredientForm" >
          <div class="modal-body"  id="ingredientModalContent">
            <div class="form-group">
              <input name="name" type="hidden" class="form-control" id="ingredientName">
            </div>
            <div class="container d-flex justify-content-center">
              <div class="form-group">
                <label class="green-text font-weight-bold">Amount</label>
                <div id="formQty" class="qty mt-1">
                  <span class="minus"><i class="fas fa-minus-circle"></i></span>
                  <input type="number" class="count" name="qty" value="1.0" step=".05" placeholder="0.05" required>
                  <span class="plus"><i class="fas fa-plus-circle"></i></span>
                </div>
              </div>
              <div class="form-group">
                <label class="green-text font-weight-bold">Unit</label>
                <div class="mt-1">
                  <select name="unit" required>
                    <optgroup label="misc">
                      <option th:value="single">Single</option>
                      <option th:value="bunch">Bunch</option>
                    </optgroup>
                    <optgroup label="Volume">
                      <option th:value="drop">Drop</option>
                      <option th:value="teaspoon">Teaspoon (tsp)</option>
                      <option th:value="tablespoon">Tablespoon (Tbsp)</option>
                      <option th:value="cup">Cup (c)</option>
                      <option th:value="pint">Pint (pt)</option>
                      <option th:value="quart">Quart (qt)</option>
                      <option th:value="gallon">Gallon (gal)</option>
                      <option th:value="ml">Milliliter (mL)</option>
                      <option th:value="liter">Liter (L)</option>
                    </optgroup>
                    <optgroup label="Mass">
                      <option th:value="pinch">Pinch</option>
                      <option th:value="dash">Dash</option>
                      <option th:value="ounce">Ounce (oz)</option>
                      <option th:value="pound">Pound (lb)</option>
                      <option th:value="mg">Milligrams (mg)</option>
                      <option th:value="gram">Gram (g)</option>
                      <option th:value="kilo">Kilogram (kg)</option>
                    </optgroup>
                    <optgroup label="Length">
                      <option th:value="mm">mm</option>
                      <option th:value="cm">cm</option>
                      <option th:value="meter">Meter (m)</option>
                      <option th:value="inch">Inch (in)</option>
                    </optgroup>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-red" data-dismiss="modal">Cancel</button>
            <div id="typeSubmit"></div>
          </div>
      </form>
    </div>
  </div>
</div>
<!--! MODALS-->

<!--MODALS-->
<div th:replace="partials/modals"></div>
<!--JS SCRIPTS-->
<div th:replace="partials/scripts :: scripts"></div>
<!--List of Ingredients-->
<script th:src="@{/js/ingredients.js}"></script>
<!--Get userId from Thyme to use in JS-->
<script th:inline="javascript">
  /*<![CDATA[*/
    const userId = /*[[${user.id}]]*/ '';
  /*]]>*/
</script>
<script th:src="@{/js/profile.js}"></script>
<script th:src="@{/js/fraction_converter.js}"></script>
<script>

</script>
</body>
</html>
