<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>ChowNow - Signup</title>
</head>
<body>
<div class="main">
    <div class="signup-container">
      <h3>Create your account</h3>
      <form th:action="@{/signup}" method="POST" th:object="${user}">
        <label for="first_name">First Name</label>
        <input id="first_name" th:field="*{first_name}" />

        <label for="last_name">Last Name</label>
        <input id="last_name" th:field="*{last_name}" />

        <label for="email">Email</label>
        <input id="email" th:field="*{email}" />

        <label for="password">Password</label>
        <input id="password" type="password" th:field="*{password}" />


        <p>Is Admin?</p>
        <input type="radio" id="admin" name="admintest" value="1" th:field="*{is_admin}">
        <label for="admin">Admin</label><br>
        <input type="radio" id="nadmin" name="admintest" value="0">
        <label for="nadmin">Not Admin</label><br>

        <!--<div>-->
        <!--  <label for="password-again">Password Again</label>-->
        <!--  <input type="password" id="password-again" th:value="${user.description}"/>-->
        <!--</div>-->

        <div>
          <label></label>
          <input type="submit" value="Create Account" id="create-account" class="button"/>
        </div>
      </form>

      <!--Todo: Future Feature-->
      <!--<div class="sep">
            <span class="or">OR</span>
          </div>
                <div class="connect">
            <div class="social-buttons facebook">
              <a href="#">
                <span>Facebook</span>
              </a>
            </div>
            <div class="social-buttons twitter">
              <a href="#">
                <span>Twitter</span>
              </a>
            </div>
          </div>
      -->
    </div>
</div>
</body>
</html>
