<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <div th:fragment="suggestions" class="row justify-content-center  py-5">
        <div th:each="recipe : ${suggestions}" class="align-items-center justify-content-around">
            <div class="h-100 px-2 my-2 border-none bg-transparent recipe-card  suggestions-card" style="width: 18rem;" >
                <a th:href="@{/recipes/{id}(id=${recipe.id})}">
                    <img class="card-img-top shadow" style="border-radius:1.5rem!important" th:src="${recipe.images.size() > 0} ? ${recipe.images[0].url} : '/img/recipe-default.png' "/>
                </a>
                <div class="card-body bg-transparent">
                    <h5 th:text="${recipe.title}" class="card-title font-weight-bold"></h5>
                    <div class="row align-items-baseline">
                        <div class="col-2">
                            <a th:href="@{/users/{id}(id=${recipe.chef.id})}">
                                <img th:src="${recipe.chef.avatar}" class="rounded-circle" style="width: 40px;height: 40px">
                            </a>
                        </div>
                        <div class="col-6">
                            <p th:text="${recipe.chef.firstName}"></p>
                        </div>
                        <div class="col-3">
                            <div class="rounded-pill border text-center" style="width: 75px">
                                <i class="far fa-heart"></i> <span th:text="${recipe.favoritedBy.size()}"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



</body>
</html>