#favoritesContainer, .top-recipes{
    transition: ease all .75s;
}

#chowText{
    transition: ease all .5s;
}

.jumbotron{
    background-size: cover;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.modify-position{
    position: absolute;
    margin-top: -32rem;
}
.carousel-item span{
    font-size: 4em;
    font-weight: 600!important;
    text-shadow: 2px 3px 5px rgba(0,0,0,0.5);
}

/*MEDIA QUERIES*/

@media screen and (max-width: 768px){
    #chowText{
        margin-top: 40%;
        width: 100%
    }
}

@media screen and (min-width: 769px) and (max-width: 1023px)   {
    #chowText{
        width: 50%;
    }
}
@media only screen and (min-width: 481px) and (max-width: 575px)  {
    .top-recipes{
        width: 13rem!important;
    }
    .top-subcategories{
        display: none;
    }
}

/* Landscape phones and down */
@media screen and (max-width: 380px) {
    .top-recipes{
        width: 11rem!important;
    }
    .top-subcategories{
        display: none;
    }

    .modify-size{
        margin-top: 25% !important;
        width: 95% !important;
    }

    .carousel-item span {
        font-size: 1.5em!important;
    }
    .modify-position{
        margin-top: -28rem!important;
    }

}

/* Landscape phones and down */
@media screen and (min-width: 381px)and (max-width: 480px) {
    .top-recipes{
        width: 11rem!important;
    }
    .top-subcategories{
        display: none;
    }

    .modify-size{
        margin-top: 20% !important;
        width: 80% !important;
    }

    .carousel-item span {
        font-size: 1.5em!important;
    }
    .modify-position{
        margin-top: -28rem!important;
    }

}

/* Landscape phone to portrait tablet */
@media screen and (max-width: 767px) {

    .carousel-item span{
        font-size: 2em;
    }
}

/* Portrait tablet to landscape and desktop */
@media screen and (min-width: 768px) and (max-width: 979px) {
    #chowText{
        margin-top: 1rem!important;
    }
    .carousel-item span {
        font-size: 3em;
    }
    .modify-size{
        margin-top: 33% !important;
    }
}

/* Large desktop */
@media screen and (min-width: 1200px) {

}

/* X-Large desktop */
@media screen and (min-width: 2500px) {
    #chowText{
        width: 25%!important;
    }
}

/*--cover up mac , mac-book---*/

@media only screen and (min-width: 1024px) and (max-width: 1920px) {
    .modify-position{
        margin-top: -25rem!important;
    }
    #chowText{
        width: 45%!important;
    }
    .carousel-item span {
        font-size: 3em;
    }
}

/*--mac book pro , and mac-book retina display screen---*/

@media only screen and (min-width: 1920px) and (max-width: 2560px) {
    .modify-position{
        margin-top: -25rem!important;
    }
    #chowText{
        width: 45%!important;
    }
    .carousel-item span {
        font-size: 3em;
    }
}