a.nostyle:link {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
}

a.nostyle:visited {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
}

.jumbotron{
    background-size: cover;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

#loginBody, #registerBody{
    background-image: url('/img/cn-bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    height: 100vh;
}

.bg-green{
    background-color: #03b090;
}

.bg-yellow{
    background-color: #fec82e
}

.bg-pink{
    background-color: #fba9c8;
}

.bg-red{
    background-color: #ff686d;
}
.btn-pink{
    background-color: #fba9c8;
    color: whitesmoke;
    font-weight: bold;
}

.btn-green{
    background-color: #03b090;
    color: whitesmoke;
    font-weight: bold;
}

.btn-yellow{
    background-color: #fec82e;
    color: darkslategrey;
    font-weight: bold;
}

.btn-red{
    background-color: #ff686d;
    color: whitesmoke;
    font-weight: bold;
}
.btn-green:hover{
    background-color: #167664;
    color:ghostwhite;
}
.btn-yellow:hover{
    background-color: #cea52a;
    color:ghostwhite;
}
.btn-pink:hover{
    background-color: #ec7ba2;
    color:ghostwhite;
}
.btn-red:hover{
    background-color: #ba4b4f;
    color:ghostwhite;
}

.green-text{
    color: #03b090;
}

.red-text{
    color:#ff686d;
}

.yellow-text{
    color: #fec82e;
}

input::-webkit-input-placeholder {/* Chrome/Opera/Safari/Edge */
    color: #03b090!important;
}

.form-control:focus {
    border-color: #f6dc5c;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px #FFC107
}

.modal-content{
    border-radius: 1.5rem!important;
    background-color: #f8f9fa;;
}

.login-signup-toggle{
    color: rgb(51, 51, 51);
    cursor: pointer;
}
.login-signup-toggle:hover{
    color: rgb(51, 51, 51);
}

.or-seperator {
    margin: 20px 0 10px;
    text-align: center;
    border-top: 1px solid #ccc;
}

.or-seperator i {
    padding: 0 10px;
    background: #f8f9fa;
    position: relative;
    top: -11px;
    z-index: 1;
}

.rounded-card {
    border-radius: 1.2rem!important;
}
#chowText{
    transition: ease all .5s;
}
@media screen and (max-width: 768px){
    #chowText{
        margin-top: 40%;
        width: 100%
    }
}

@media screen and (min-width: 769px)   {
    #chowText{
        width: 50%;
    }
}