a.nostyle:link {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
}

a.nostyle:visited {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
}

.jumbotron{
    background-size: cover;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

#loginBody, #registerBody{
    background-image: url('/img/cn-bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    height: 100vh;
}
.btn-pink{
    background-color: #fba9c8;
    color: whitesmoke;
    font-weight: bold;
}

.btn-green{
    background-color: #03b090;
    color: whitesmoke;
    font-weight: bold;
}

.btn-yellow{
    background-color: #fec82e;
    color: darkslategrey;
    font-weight: bold;
}

.btn-red{
    background-color: #ff686d;
    color: whitesmoke;
    font-weight: bold;
}

.green-text{
    color: #03b090;
}

.red-text{
    color:#ff686d;
}

.yellow-text{
    color: #fec82e;
}

::placeholder {
    color: #03b090;
}

.modal-content{
    border-radius: 1.5rem!important;
}

.or-seperator {
    margin: 20px 0 10px;
    text-align: center;
    border-top: 1px solid #ccc;
}

.or-seperator i {
    padding: 0 10px;
    background: white;
    position: relative;
    top: -11px;
    z-index: 1;
}

.rounded-card {
    border-radius: 1.2rem!important;
}

@media screen and (max-width: 768px){
    #chowText{
        margin-top: 40%;
        width: 100%
    }
}

@media screen and (min-width: 769px)   {
    #chowText{
        width: 50%;
    }
}