/*chownow background colors*/
@font-face {
    font-family: peace_sansregular;
    src: url('/css/peace_sansregular.otf') format("opentype");
}

@font-face {
    font-family: corsa;
    src: url('/css/corsa.otf') format("opentype");
}

@font-face {
    font-family: corsa_bold;
    src: url('/css/corsa_bold.otf') format("opentype");
}
* {
    margin:0; padding:0; box-sizing:border-box;
}

body{
    font-family: 'corsa_bold';
    height: 100vh;
}
main{
    padding-bottom: 50px;
}
.chow-font{
    color: #fec82e;
    font-family: peace_sansregular;
    font-size: 2.3rem;
    text-shadow: 2px 3px 5px rgba(0,0,0,0.1);

}
.bg-green{
    background-color: #03b090;
}

.bg-yellow{
    background-color: #fec82e
}

.bg-pink{
    background-color: #fba9c8;
}

.bg-red{
    background-color: #ff686d;
}

/* chownow buttons colors */
.btn-pink{
    background-color: #fba9c8;
    color: whitesmoke;
    font-weight: bold;
}
.btn-pink:hover{
    background-color: #ec7ba2;
    color:ghostwhite;
}

.btn-green{
    background-color: #03b090;
    color: whitesmoke;
    font-weight: bold;
}
.btn-green:hover{
    background-color: #167664;
    color:ghostwhite;
}

.btn-yellow{
    background-color: #fec82e;
    color: darkslategrey;
    font-weight: bold;
}
.btn-yellow:hover{
    background-color: #cea52a;
    color:ghostwhite;
}

.btn-red{
    background-color: #ff686d;
    color: whitesmoke;
    font-weight: bold;
}

.btn-red:hover{
    background-color: #ba4b4f;
    color:ghostwhite;
}

/*chownow text colors*/
.green-text{
    color: #03b090;
}

.red-text{
    color:#ff686d;
}

.yellow-text{
    color: #fec82e;
}

.pink-text{
    color: #fba9c8;
}

/*chownow form element colors*/
input::-webkit-input-placeholder {/* Chrome/Opera/Safari/Edge */
    color: #03b090!important;
}

.form-control:focus {
    border-color: #f6dc5c;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px #FFC107
}

/* This is the default state */
.custom-radio .custom-control-label::before {
    background-color:  #03b090;  /* chowgreen */
}

/* This is the checked state */
.custom-radio .custom-control-input:checked~.custom-control-label::before,
.custom-radio .custom-control-input:checked~.custom-control-label::after {
    background-color: #fec82e;  /* chowyellow*/
    border-radius: 50%;
}

/* active state i.e. displayed while the mouse is being pressed down */
.custom-radio .custom-control-input:active ~ .custom-control-label::before {
    color: #fff;
    background-color: #fec82e; /* chowyellow*/
}

/* the shadow; displayed while the element is in focus */
.custom-radio .custom-control-input:focus ~ .custom-control-label::before {
    box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(255, 123, 255, 0.25); /* pink, 25% opacity */
}
/*login register css*/

#loginBody, #registerBody, #aboutUs{
    background-image: url('/img/cn-bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    height: 100vh;
}

.login-signup-toggle{
    color: rgb(51, 51, 51);
    cursor: pointer;
}
.login-signup-toggle:hover{
    color: rgb(51, 51, 51);
}

.or-seperator {
    margin: 20px 0 10px;
    text-align: center;
    border-top: 1px solid #ccc;
}

.or-seperator i {
    padding: 0 10px;
    background: #f8f9fa;
    position: relative;
    top: -11px;
    z-index: 1;
}

 /*custom css*/
.rounded-card {
    border-radius: 1.2rem!important;
}

.rounded-bottom{
    border-bottom-left-radius: 1.2rem!important;
    border-bottom-right-radius: 1.2rem!important;
}

.rounded-top{
    border-top-left-radius: 1.2rem!important;
    border-top-right-radius: 1.2rem!important;
}

.modal-content{
    border-radius: 1.5rem!important;
    background-color: #f8f9fa;;
}

a.nostyle:link {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
}

a.nostyle:visited {
    text-decoration: inherit;
    color: inherit;
    cursor: auto;
}

/* Navbar section */

.main-nav {
    width: 100%;
    height: 65px;
    position: relative;
    /*line-height: 65px;*/
    text-align: center;
    z-index: 1000;
    /*background-color: #03b090;*/
}

.main-nav div.logo {
    float: left;
    width: auto;
    height: auto;
    padding-left: 3rem;
    font-family: 'peace_sansregular';

}

.main-nav div.logo a {
    text-decoration: none;
    color:#fec82e;
    font-size: 2.5rem;
}

.main-nav div.logo a:hover {
    color: #fff;
}

.main-nav div.main_list {
    height: 65px;
    float: right;
}

.main-nav div.main_list ul {
    width: 100%;
    height: 65px;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.main-nav div.main_list ul li {
    width: auto;
    height: 65px;
    padding: 0;
    padding-right: 3rem;
}

.main-nav div.main_list ul li a {
    text-decoration: none;
    color: #fff;
    line-height: 65px;
    font-family: 'corsa';
    font-size: 2rem;
}

.main-nav div.main_list ul li a:hover {
    color: #fec82e;
    font-weight: 900;
}

.navTrigger {
    display: none;
}

.main-nav {
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
    .main-nav.container {
        margin: 0!important;
    }
    .main-nav div.main_list ul li {
        width: auto;
        height: 65px;
        padding: 0;
        padding-right: 1rem;
    }
    .main-nav div.main_list ul li a {
        text-decoration: none;
        color: #fff;
        line-height: 65px;
        font-size: 1.5rem;
    }
}

@media screen and (max-width:768px) {
    .navTrigger {
        display: block;
    }
    .main-nav div.main_list {
        width: 100%;
        height: 0;
        overflow: hidden;
    }
    .main-nav div.show_list {
        height: auto;
        display: none;
    }
    .main-nav div.main_list ul {
        flex-direction: column;
        width: 100%;
        height: 100vh;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: #03b090;
        /*same background color of navbar*/
        background-position: center top;
    }
    .main-nav div.main_list ul li {
        width: 100%;
        text-align: right;
    }
    .main-nav div.main_list ul li a {
        text-align: center;
        width: 100%;
        font-size: 3rem;
        padding: 20px;
    }
    .main-nav div.media_button {
        display: block;
    }

    #aboutUs{
        background-image: none;
    }
}


/* Animation */
/* Inspiration taken from Dicson https://codemyui.com/simple-hamburger-menu-x-mark-animation/ */

.navTrigger {
    cursor: pointer;
    width: 30px;
    height: 25px;
    margin: auto;
    position: absolute;
    right: 30px;
    top: 0px;
    bottom: 0;
    padding-top: 20px;
}

.navTrigger i {
    background-color: #fff;
    border-radius: 2px;
    content: '';
    display: block;
    width: 100%;
    height: 4px;
}

.navTrigger i:nth-child(1) {
    -webkit-animation: outT 0.8s backwards;
    animation: outT 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger i:nth-child(2) {
    margin: 5px 0;
    -webkit-animation: outM 0.8s backwards;
    animation: outM 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger i:nth-child(3) {
    -webkit-animation: outBtm 0.8s backwards;
    animation: outBtm 0.8s backwards;
    -webkit-animation-direction: reverse;
    animation-direction: reverse;
}

.navTrigger.active i:nth-child(1) {
    -webkit-animation: inT 0.8s forwards;
    animation: inT 0.8s forwards;
}

.navTrigger.active i:nth-child(2) {
    -webkit-animation: inM 0.8s forwards;
    animation: inM 0.8s forwards;
}

.navTrigger.active i:nth-child(3) {
    -webkit-animation: inBtm 0.8s forwards;
    animation: inBtm 0.8s forwards;
}

.codeup{
    background-image: url("/img/codeup.png");
    height: 2em;
    width: 2em;
    background-position: center;
    background-size: cover;
    
}

/*.vertically-centered{*/
/*    position: relative;*/
/*    top: 50%;*/
/*    -webkit-transform: translateY(-50%);*/
/*    -ms-transform: translateY(-50%);*/
/*    transform: translateY(-50%);*/
/*}*/

@-webkit-keyframes inM {
    50% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(45deg);
    }
}

@keyframes inM {
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@-webkit-keyframes outM {
    50% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(45deg);
    }
}

@keyframes outM {
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(45deg);
    }
}

@-webkit-keyframes inT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
}

@keyframes inT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(9px) rotate(0deg);
    }
    100% {
        transform: translateY(9px) rotate(135deg);
    }
}

@-webkit-keyframes outT {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(9px) rotate(135deg);
    }
}

@keyframes outT {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(9px) rotate(0deg);
    }
    100% {
        transform: translateY(9px) rotate(135deg);
    }
}

@-webkit-keyframes inBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
}

@keyframes inBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(-9px) rotate(0deg);
    }
    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}

@-webkit-keyframes outBtm {
    0% {
        -webkit-transform: translateY(0px) rotate(0deg);
    }
    50% {
        -webkit-transform: translateY(-9px) rotate(0deg);
    }
    100% {
        -webkit-transform: translateY(-9px) rotate(135deg);
    }
}

@keyframes outBtm {
    0% {
        transform: translateY(0px) rotate(0deg);
    }
    50% {
        transform: translateY(-9px) rotate(0deg);
    }
    100% {
        transform: translateY(-9px) rotate(135deg);
    }
}

.affix {
    padding: 0;
    background-color: #03b090;
}
