<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Master</title>
</head>
<body>

<!--=====================User=====================-->
<!--Info-->
  <!--Id-->                   <h1 th:text="${user.id}"></h1>
  <!--Email-->                <h1 th:text="${user.email}"></h1>
  <!--Username-->             <h1 th:text="${user.username}"></h1>
  <!--First Name-->           <h1 th:text="${user.firstName}"></h1>
  <!--First Name-->           <h1 th:text="${user.lastName}"></h1>
  <!--About-->                <h1 th:text="${user.aboutMe}"></h1>
  <!--Is Admin?-->            <h1 th:text="${user.isAdmin}"></h1>
  <!--User Recipe size-->     <h1 class="col-3" th:text="${user.recipes.size()}"></h1>
  <!--Avatar img-->           <img th:src="${user.avatar}" alt="profile image">

<!--Followers-->
  <!--# of follower-->        <h1 class="col-3" th:text="${user.followings.size()}"></h1>
  <!--# of following-->       <!--Todo:!!!!!-->

<!--Links-->
  <!--To Profile-->             <h1><a href="" th:href="@{/users/{path}(path=${user.id})}">Profile</a></h1>
  <!--To Profile-->             <h1><a href="" th:href="@{/users/{path}(path=${user.id})}">Profile</a></h1>
  <!--To Profile Edit-->        <h1 class="pull-right mb-3"><a href="" th:href="@{/users/{path}/edit(path=${user.id})}">Edit Profile</a></h1>
  <!--To Profile Delete-->      <h1 class="pull-right mb-3"><a href="" th:href="@{/users/{path}/edit(path=${user.id})}">Delete Profile</a></h1><!--Todo: !!!!!!!-->

  <!--=====================Recipies=====================-->
  <!--Info-->
    <!--Loop-->               <div th:each="recipe : ${recipes}">
    <!--Id-->                   <h1 th:text="${recipe.id}"></h1>
    <!--Title-->                <h1 th:text="${recipe.title}"></h1>
    <!--Chef #-->               <h1 th:text="${recipe.chef.id}"></h1>
    <!--Fav #-->                <h1 th:text="${recipe.favoritedBy.size()}"></h1>
    <!--Fav Users Loop-->       <div th:each="fav : ${recipe.favoritedBy}">
    <!--Fav Users Username-->     <h1 th:text="${fav.username}"></h1>
                                </div>
    <!--Difficulty-->           <h1 th:text="${recipe.difficulty}"></h1>
    <!--Prep time-->             <h1 th:text="${recipe.prepTime}"></h1>
    <!--Prep time-->             <h1 th:text="${recipe.cookTime}"></h1>
    <!--Serving-->              <h1 th:text="${recipe.servings}"></h1>
    <!--Directions-->           <h1 th:text="${recipe.directions}"></h1>

  <!--Ingredients-->
    <!--Recipe Loop-->          <div th:each="recipeIngredients : ${recipe.ingredients}">
    <!--Recipe Id-->              <h1 th:text="${recipeIngredients.id}"></h1>
    <!--Recipe Name-->            <h1 th:text="${recipeIngredients.ingredient.name}"></h1>
    <!--Recipe Amount-->          <h1 th:text="${recipeIngredients.amount}"></h1>
    <!--Recipe Unit-->            <h1 th:text="${recipeIngredients.unit}"></h1>
                                </div>


  <!--Categories-->
    <!--Categories Loop-->      <div th:each="recipeCategories : ${recipe.categories}">
    <!--Categories Id-->          <h1 th:text="${recipeCategories.id}"></h1>
    <!--Categories Name-->        <h1 th:text="${recipeCategories.name}"></h1>
                                </div>
</div>


<!--=====================Pantry=====================-->
<!--Pantry Id #-->                         <span><h1>Pantry #</h1><h1 th:text="${pantry.id}"></h1></span>
<hr>
<hr>
<!--Info-->
  <!--Pantry ingredient size-->                       <h1 th:text="${pantry.ingredients.size()}"></h1></span>
  <!--Pantry ingredient loop-->                       <div th:each="pantryIngrediens : ${pantry.ingredients}">
    <!--Pantry ingredient id-->                           <h1 th:text="${pantryIngrediens.id}"></h1>
    <!--Pantry ingredient ingredient id-->                <h1 th:text="${pantryIngrediens.ingredient.id}"></h1>
    <!--Pantry ingredient ingredient name-->              <h1 th:text="${pantryIngrediens.ingredient.name}"></h1>
    <!--Pantry ingredient amount-->                       <h1 th:text="${pantryIngrediens.amount}"></h1>
    <!--Pantry ingredient unit-->                         <h1 th:text="${pantryIngrediens.unit}"></h1>
                                                      </div>
</body>
</html>
